<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
    <li><h1>Instituto Centenarios, Punta Alta, Buenos Aires</h1> - <h3>(years)</h3></li>
    <p>
        En el año 2004 me egresé del Instituto Centenarios habiendo obtenido el título 
        de Técnico Electrónico con Orientación en la Producción de Bienes y Servicios.
    </p>
        </ul>
    
        <ul>
    <li><h1>Universidad Marítima Mundial (World Maritime University), Malmö, Reino de Suecia</h1> - <h3>(years)</h3></li>
    <p>
        El 05 de noviembre del año 2019 obtuve la Maestría en Asuntos Marítimos en la especialidad 
        Seguridad Marítima y Administración Ambiental en la Universidad Marítima Mundial, institución 
        dependiente de la Organización Marítima Internacional (OMI). El cursado del mismo tuvo inicio 
        en el mes de junio del año 2018.
    </p>
        </ul>
    
        <ul>
    <li><h1>Universidad Nacional de Quilmes, Buenos Aires</h1> - <h3>(years)</h3></li>
    <p>
        07 de septiembre de 2020 se me otorgado el título de Licenciado en Comercio Internacional, 
        extendido por la Universidad Nacional de Quilmes habiendo cumplimentado con el Ciclo 
        Complementario que tuvo fecha de inicio durante el mes de junio de 2014.
    </p>
        </ul>
    </div>
    </div>