<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
<li><h1>Escuela de Prefectura Naval Argentina</h1> - <h3>(years)</h3></li>
<p>
    El 01 de enero de 2005 ingresé a la Escuela de Oficiales de la Prefectura Naval Argentina, 
    institución dependiente del Ministerio de Seguridad de la Nación, egresando en el mes de 
    diciembre 2007.
    A partir de esa fecha he desarrollado diversas tareas siempre en el ámbito de la seguridad 
    de la navegación, prevención de la contaminación ambiental provenientes de buques, 
    facilitación del comercio internacional y la protección marítima.
</p>
    </ul>

    <ul>
<li><h1>Jefe de Operaciones Arroyo Seco</h1> - <h3>(years)</h3></li>
<p>
    Dependencia que marca el ingreso al complejo portuario ROSAFE, con 
    ingreso constante de buques mercantes de navegación internacional, 
    efectuando la supervisión de los mismos en lo que respecta al cumplimiento 
    de la normativa internacional
</p>
    </ul>

    <ul>
<li><h1>Profesor Política y Economía del Sector Naviero</h1> - <h3>(years)</h3></li>
<p>
    Dentro del programa de las Especializaciones En Gestión De La Protección del 
    Ambiente Acuático y en Gestión de la Seguridad Marítima Y Protección Portuaria 
    que dicta el Instituto Universitario de Seguridad Marítima de la Prefectura Naval Argentina
</p>
    </ul>
</div>
</div>