<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Geymonat Santiago Juan</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>La simple lectura de los logros obtenidos en la faz educativa permite dar cuenta de mi constante deseo de aprendizaje a lo largo de mi vida. Ello puede relacionarse claramente con una constante búsqueda de superación. Sin dudas, ello describe mi personalidad y mis objetivos. Soy una persona que evidencia un constante interés por incorporar nuevos conocimientos y abordar nuevos desafíos.
                En mis anteriores experiencias laborales he sabido mantener un ambiente laboral próspero para permitirse un fluido intercambio de opiniones, una constante apertura a las mismas y un ameno ambiente.</p>
        </span>
    </div>
</div>