<div class="row">
<h1>Proyectos Realizados</h1>
<div class="contenedor">
<div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h1>Trabajo de Investigación</h1>
<p>
    Durante el desarrollo de la Maestría en Asuntos Marítimos en la especialidad Seguridad Marítima 
    y Administración Ambiental desarrollada en la Universidad Marítima Mundial y como condición de 
    egreso desarrollé la disertación titulada: “STUDY OF THE IMPACTS OF IMO´S INITIATIVES TO ERADICATE 
    SUBSTANDARD SHIPS - With special focus on the Latin-American región”.    
</p>
</div>

<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/publicacion.png" class="img-fluid img-proyecto">
</div>

</div>
</div>